body, html {
  margin: 0;
  padding: 0;
}

.linkActive{
  border-bottom: 1px solid #000;
}
/* allClass */
.ContentBLock{
  display: flex;
  flex-direction: column;
  width: 98%;
  height: 100%;
  margin: auto;
}
.MainBlocks{
  width: 98%;
  margin: auto auto;
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  
}
.MainBlocks1{
  padding: 0;
  width: 98%;
  margin: auto auto;
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style-type: none;

}
a{
  text-decoration:none;
}
.fontTitle{
  color: #000000;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
}
.fontText{
  color: #000000;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 300;
}
.AllContent{
  margin-top: 20px;
  padding: 8px;
  font-size: 18px;
  color: #000000;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
/* projects */
.ProjectsBlockContent{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  align-items: center;
  min-height:85vh;
  margin: auto auto;
}
.projectsBlockTitlesTitle{
  padding-top: 60px;
  padding-bottom: 30px;
  margin: 0;
  text-align: center;
  font-size: 48px;
}
.projectsBlockTitlesText{
  font-size: 18px;
}
/* projects card */
.ProjectsBlockContentCards{
  max-width: 1290px;
  margin: auto auto;
  width: 100%;
  height: 80%;
  min-height: 85vh;
  padding-bottom: 60px;
}
.ProjectsBlockCards{
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto auto ;
}
.ProjectsCards{
  padding: 10px;
  width: 100%;
  max-width: 400px;
  height: 350px;
  border: 1px solid #000;
  border-radius: 8px;
  transition: all 0.3s;
  -webkit-box-shadow: 9px 9px 12px -2px rgba(77, 178, 255, 0.41);
-moz-box-shadow: 9px 9px 12px -2px rgba(77, 178, 255, 0.41);
box-shadow: 9px 9px 12px -2px rgba(77, 178, 255, 0.41);
}
.ProjectsCards:hover{
  transition: all 0.3s;
  -webkit-box-shadow: 9px 9px 12px -2px rgba(199, 110, 39, 0.41);
-moz-box-shadow: 9px 9px 12px -2px rgba(199, 110, 39, 0.41);
box-shadow: 9px 9px 12px -2px rgba(199, 110, 39, 0.41);
}
.ProjectsTitle{
  padding-top: 10px;
  font-size: 28px;
  transition: all 0.3s;
}
.ProjectsTitle:hover{
  transition: all 0.3s;
  color: rgba(0, 0, 0, 0.622);
}
.ProjectsText{}
.ProjectsImg{
  max-width: 400px;
  min-height: 200px;
  max-height: 250px;
  height: 100%;
}
@media(max-width:570px){
  .AllContent {
    margin-top: 20px;
    padding: 4px;
  }
  .ProjectsCards {
    max-width: 350px;
  }
}
@media (max-width:430px) {
  .MainBlocks1 {
    padding: 0;
    width: 89%;
    margin: auto auto;
    display: flex;
    gap: 0px;
  }
}

@media(max-width:430px){
  .SkillsText{font-size: 20px;}
}
@media(max-width:1330px){
  .ProjectsImg{width: 100%; min-width: 200px}
  .ProjectsCards {
    width: auto;
    min-width: 200px;
  }
}
@media(max-width:1100px){
  .ProjectsTitle{
    font-size: 25px;
  }
}
@media (max-width:768px) {
  .ProjectsBlockCards{
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto;
  }
}
@media(max-width:600px){
  .ProjectsBlockCards{
    display: grid;
    gap: 10px;
    grid-template-columns: auto;

    justify-items: center
  }
}

/* footer */
.BlockFooterContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98%;
  height: 10%;
  margin: auto;
  padding-bottom: 30px;
}
.BlockFooterImg{
  display: flex;
  gap: 5px;
  flex-direction: row;
  align-items: center;
}
.imgGit{
  width: 25px;
  height: 25px;
}
.imgTg{
  width: 22px;
  height: 22px;
}
.imgVk{
  width: 26px;
  height: 26px;
}
.Copyinght{
  padding-top: 2px;
  margin: 0;
  font-size: 16px;
  color: #000000;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
/* allMedia */
@media(max-width:430px){
  .SkillsTitle {font-size: 40px;}
  .AboutTitle  {font-size: 40px;}
  .ContactTitle {font-size: 40px;}
  .CVTitle{font-size: 40px;}
  .HomeTitles {font-size: 40px; text-align: center;}
  .HomeText {text-align: center;}
  .projectsBlockTitlesTitle {font-size: 40px;}
  .projectsBlockTitlesText{text-align: center;}
}
@media(max-width:360px){
  .AllContent{font-size: 14px;}
}